<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean class="com.beans.Compartment" id="pythonCompartment">
        <constructor-arg value="Python"/>
        <property name="books">
            <set>
                <bean id="book6" class="com.model.Book">
                    <property name="category" value="Python"/>
                    <property name="ISBN" value="1234-1-12-123456-6"/>
                    <property name="title" value="Python Crash Course"/>
                </bean>
                <bean id="book5" class="com.model.Book">
                    <property name="category" value="Python"/>
                    <property name="ISBN" value="1234-1-12-123456-5"/>
                    <property name="title" value="Automating the boring stuff with python"/>
                </bean>

            </set>
        </property>
    </bean>

    <bean class="com.beans.Compartment" id="javaCompartment">
        <constructor-arg value="Java"/>
        <property name="books">
            <set>
                <bean id="book3" class="com.model.Book">
                    <property name="category" value="Java"/>
                    <property name="ISBN" value="1234-1-12-123456-3"/>
                    <property name="title" value="Core Java"/>
                </bean>
                <bean id="book4" class="com.model.Book">
                    <property name="category" value="Java"/>
                    <property name="ISBN" value="1234-1-12-123456-4"/>
                    <property name="title" value="Head First Java"/>
                </bean>

            </set>
        </property>
    </bean>

    <bean class="com.beans.Compartment" id=".NETCompartment">
        <constructor-arg value=".NET"/>
        <property name="books">
            <set>
                <bean id="book1" class="com.model.Book">
                    <property name="category" value=".NET"/>
                    <property name="ISBN" value="1234-1-12-123456-1"/>
                    <property name="title" value=".NET book 1"/>
                </bean>
                <bean id="book1" class="com.model.Book">
                    <property name="category" value=".NET"/>
                    <property name="ISBN" value="1234-1-12-123456-1"/>
                    <property name="title" value=".NET book 2"/>
                </bean>
                <bean id="book2" class="com.model.Book">
                    <property name="category" value=".NET"/>
                    <property name="ISBN" value="1234-1-12-123456-2"/>
                    <property name="title" value=".NET book 3"/>
                </bean>
            </set>
        </property>
    </bean>
    <bean class="com.beans.Library" id="library">
        <property name="compartments">
            <util:map>
                <entry key=".NET" value-ref=".NETCompartment"/>
                <entry key="Python" value-ref="pythonCompartment"/>
                <entry key="Java" value-ref="javaCompartment"/>
            </util:map>
        </property>
    </bean>
</beans>